Repository ks-sbc/DRUIDS: changes, and which pre-commit hooks are due for each by the changed paths.
All: mkdocs-config-validation, mkdocs-build-test, blog-post-validation

mkdocs-config-validation:
  name: Validate MkDocs Configuration
  entry: python tests/validate_config.py
  language: python
  pass_filenames: false

mkdocs-build-test:
  name: Test MkDocs Build
  entry: mkdocs build --clean --strict
  language: system
  pass_filenames: false

blog-post-validation:
  name: Validate Blog Posts
  entry: python tests/validate_blog_posts.py
  language: python
  pass_filenames: false

CONFIGURE[linting](v0.0.9): establish code formatting standards (#github/issue/1)
  .flake8
  .github/workflows/validate-docs.yml
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.json
  .yamllint.yml
  justfile
  mkdocs.yml
  package-lock.json
  package.json
  pyproject.toml
  tests/test_linting.py
  tests/test_mkdocs_config.py
  tests/validate_blog_posts.py
  tests/validate_config.py
Due: mkdocs-config-validation, mkdocs-build-test

DEPLOY[infrastructure](v0.4.3): establish GitHub Pages automated deployment (#github/issue/4)
  .github/workflows/deploy-to-github-pages.yml
  DEPLOYMENT.md
  scripts/__init__.py
  scripts/deploy_to_github_pages.py
Due: none

DOCUMENT[framework](v0.4.1): integrate Diátaxis documentation system (#github/issue/4)
  ai-discourses/claude-context-lessons.md
  ai-discourses/claude-revolutionary-memory.md
  ai-discourses/documentation-todo.md
  docs/contributing/revolutionary-style-guide.md
  docs/explanation/why-discord-democracy-fails.md
  docs/guides/migration/escaping-google-surveillance.md
  docs/how-to/breaking-discord-chains.md
  docs/how-to/pseudonym-discipline.md
  docs/needs-categorization/2025-07-02-documentation-sprint-summary.md
  docs/reference/git-quick-reference.md
  docs/templates/meeting-minutes-template.md
  docs/templates/proposal-template.md
  docs/templates/security-incident-template.md
  docs/tutorials/your-first-revolutionary-commit.md
Due: mkdocs-config-validation, mkdocs-build-test

DEVELOP[organizing](v0.4.2): establish AI resistance and capacity building documentation (#github/issue/4)
  ai-discourses/ai-outline.md
  ai-discourses/claude-context-lessons.md
  ai-discourses/claude-revolutionary-memory.md
  ai-discourses/claude-training-calendar.md
  ai-discourses/documentation-todo.md
Due: none

enhancements to navigation, customization
  docs/assets/css/extra.css
  docs/blog/index.md
  docs/blog/posts/building-engaged-community.md
  mkdocs.yml
Due: mkdocs-config-validation, mkdocs-build-test, blog-post-validation

tags docs
  docs/tags.md
Due: mkdocs-config-validation, mkdocs-build-test

advanced navigation
  docs/blog/.authors.yml
  docs/blog/posts/advanced-navigation-techniques.md
  mkdocs.yml
Due: mkdocs-config-validation, mkdocs-build-test, blog-post-validation

privacy and analytics
  .envrc
  docs/analytics-privacy-guide.md
  docs/privacy-policy.md
  mkdocs.yml
Due: mkdocs-config-validation, mkdocs-build-test

Initial commit
  .gitignore
  LICENSE
  README.md
Due: none

giscus
  docs/setup-giscus.md
  mkdocs.yml
  pyproject.toml
Due: mkdocs-config-validation, mkdocs-build-test

versioning deployment
  .gitignore
  docs/versioning-guide.md
  scripts/deploy-version.sh
Due: mkdocs-config-validation, mkdocs-build-test

offline pwa
  docs/offline-usage-guide.md
Due: mkdocs-config-validation, mkdocs-build-test

blogging
  docs/assets/favicons/favicon.ico
  docs/assets/favicons/favicon.svg
  docs/assets/images/logo.png
  docs/assets/images/logo.svg
  docs/blog/.authors.yml
  docs/blog/posts/mkdocs-material-features.md
  docs/blog/posts/welcome-to-our-blog.md
  docs/customization-guide.md
  docs/reference/index.md
  docs/tutorials/index.md
  mkdocs.yml
Due: mkdocs-config-validation, mkdocs-build-test, blog-post-validation

init
  .editorconfig
  .envrc
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc
  .python-version
  .vscode/settings.json
  README.md
  docs/assets/css/extra.css
  docs/assets/css/giscus.css
  docs/assets/js/giscus.js
  docs/assets/js/mathjax.js
  docs/blog/index.md
  docs/getting-started.md
  docs/index.md
  docs/test.md
  hooks/shortcodes.py
  main.py
  mkdocs.yml
  overrides/partials/comments.html
  package-lock.json
  package.json
  pyproject.toml
  pytest.ini
  run_tests.sh
  tests/test_build.sh
  tests/test_mkdocs_config.py
Due: mkdocs-config-validation, mkdocs-build-test

search
  docs/assets/js/search.js
  docs/navigation-guide.md
Due: mkdocs-config-validation, mkdocs-build-test

header and footer
  docs/assets/css/extra.css
  docs/features-demo.md
  overrides/partials/footer.html
  overrides/partials/header.html
Due: mkdocs-config-validation, mkdocs-build-test

tests
  .pre-commit-config.yaml
  .yamllint.yml
  tests/test_mkdocs_config.py
  tests/validate_blog_posts.py
  tests/validate_config.py
Due: none

ci-cd
  .github/workflows/validate-docs.yml
  VALIDATION.md
  justfile
  requirements.txt
  scripts/install-hooks.sh
  scripts/validate-all.sh
  tests/test_mkdocs_config.py
Due: none

prettier linting and formatting
  .prettierignore
  .prettierrc.json
  justfile
  package-lock.json
  package.json
  pyproject.toml
Due: none

builds
  docs/blog/.authors.yml
  docs/blog/index.md
  docs/blog/posts/advanced-navigation-techniques.md
  docs/blog/posts/building-engaged-community.md
  docs/blog/posts/mkdocs-material-features.md
  docs/blog/posts/welcome-to-our-blog.md
  mkdocs.yml
  overrides/partials/comments.html
Due: mkdocs-config-validation, mkdocs-build-test, blog-post-validation

Merge branch 'main' of https://git-manager.devin.ai/proxy/github.com/catdotbashrc/mkdocs
  LINTING.md
  mkdocs.yml
Due: mkdocs-config-validation, mkdocs-build-test

linting
  .flake8
  .github/workflows/validate-docs.yml
  .pre-commit-config.yaml
  .yamllint.yml
  mkdocs.yml
  tests/test_linting.py
  tests/test_mkdocs_config.py
  tests/validate_blog_posts.py
  tests/validate_config.py
Due: mkdocs-config-validation, mkdocs-build-test

refactor: consolidate CSS architecture to 4 optimized files
  docs/assets/css/druids-components.css
  docs/assets/css/druids-layout.css
  docs/assets/css/druids-utilities.css
  docs/assets/images/logo.svg
  docs/assets/js/mathjax.js
  docs/assets/js/search.js
  mkdocs.yml
Due: mkdocs-config-validation, mkdocs-build-test

reinit
  .gitignore
  .markdownlint-cli2.yaml
  .prettierrc.json
  .python-version
  README.md
  docs/how-to/mkdocs.md
  docs/how-to/setup-giscus.md
  docs/reference/website/advanced-navigation-techniques.md
  docs/reference/website/analytics-privacy-guide.md
  docs/reference/website/features-demo.md
  docs/reference/website/mkdocs-material-features.md
  docs/reference/website/navigation-guide.md
  docs/reference/website/offline-usage-guide.md
  docs/reference/website/tags.md
  docs/reference/website/versioning-guide.md
  docs/test.md
  docs/tutorials/customization-guide.md
  docs/tutorials/website-validations.md
  justfile
  main.py
  package-lock.json
  package.json
  tests/LINTING.md
Due: mkdocs-config-validation, mkdocs-build-test

feat: add accessibility testing framework and enhance Giscus integration
  .pa11yci.json
  DEPLOYMENT_STATUS.md
  TODO.md
  docs/assets/css/cyberpunk-guerrilla.css
  docs/assets/css/druids-theme.css
  docs/assets/css/giscus-druids.css
  docs/giscus-integration-status.md
  docs/giscus.json
  giscus.json
  mkdocs.yml
  package-lock.json
  package.json
  stylelint.config.js
  tests/test_accessibility.py
  tests/test_css_structure.py
  tests/test_ui_components.py
Due: mkdocs-config-validation, mkdocs-build-test

FEAT: Change CSS around BREAKING CHANGE: layout of website 1.2.0
  docs/assets/css/druids-layout.css
  docs/assets/css/druids-theme.css
  docs/assets/favicons/favicon.ico
  docs/needs-categorization/git-in-7-commands.md
  mkdocs.yml
  overrides/partials/header.html
Due: mkdocs-config-validation, mkdocs-build-test

feat: complete CSS architecture overhaul with TDD approach
  CSS_AESTHETIC_REFERENCE.md
Due: none

CHORE(Documentation): Moving files around
  docs/customization-guide.md
  docs/features-demo.md
  docs/needs-categorization/git-in-7-commands.md
  docs/needs-categorization/revolutionary-commit-conventions.md
  docs/tags.md
  docs/website/analytics-privacy-guide.md
  docs/website/blog/advanced-navigation-techniques.md
  docs/website/blog/building-engaged-community.md
  docs/website/blog/index.md
  docs/website/blog/mkdocs-material-features.md
  docs/website/blog/welcome-to-our-blog.md
  docs/website/components.md
  docs/website/css-variables.md
  docs/website/customization-guide.md
  docs/website/features-demo.md
  docs/website/giscus-integration-status.md
  docs/website/mkdocs.md
  docs/website/navigation-guide.md
  docs/website/offline-usage-guide.md
  docs/website/setup-giscus.md
  docs/website/tags.md
  docs/website/typography.md
  docs/website/versioning-guide.md
  docs/website/website-validations.md
  mkdocs.yml
Due: mkdocs-config-validation, mkdocs-build-test

DECIDED[dev-collective](consensus): Implement Material for MkDocs critical features with TDD
  docs/assets/css/druids-components.css
  docs/needs-categorization/ai-outline.md
  docs/needs-categorization/custom-tails-image-technical-guide.md
  docs/needs-categorization/druids-installation-guide.md
  docs/needs-categorization/druids-security-implementation.md
  docs/needs-categorization/druids-tails-bootstrap-scripts.md
  docs/needs-categorization/druids-tails-deployment.md
  docs/needs-categorization/git-in-7-commands.md
  docs/needs-categorization/git-isnt-programming.md
  docs/needs-categorization/git-learning-path.md
  docs/needs-categorization/git-through-campaign.md
  docs/needs-categorization/institutional-memory-and-onboarding.md
  docs/needs-categorization/revolutionary-commit-conventions.md
  docs/needs-categorization/teach-tech-without-priest-hood.md
  docs/needs-categorization/tech-democratization-as-class-struggle.md
  docs/needs-categorization/why-revolutionaries-need-git.md
  tests/test_material_css.py
  tests/test_material_features.py
Due: mkdocs-config-validation, mkdocs-build-test

CHORE: Move config files around
  .editorconfig
  .github/workflows/validate-docs.yml
  .markdownlint-cli2.yaml
  .pa11yci.json
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.json
  .yamllint.yml
  CLAUDE.md
  CONFIGURATION.md
  README.md
  docs/test-features-results.md
  docs/website/blog/index.md
  docs/website/components.md
  docs/website/css-variables.md
  docs/website/features-demo.md
  docs/website/giscus-integration-status.md
  docs/website/mkdocs.md
  docs/website/offline-usage-guide.md
  docs/website/setup-giscus.md
  docs/website/versioning-guide.md
  docs/website/website-validations.md
  justfile
  mkdocs.sh
  package-lock.json
  package.json
  pyproject.toml
  requirements.txt
  scripts/setup-giscus.sh
  stylelint.config.js
  tests/LINTING.md
  tests/docs-test-pages/test-theme-code.md
  tests/test_build.py
  tests/test_build.sh
  tests/test_deployment.py
  tests/test_deployment_readiness.py
  tests/test_linting.py
  tests/test_mkdocs_core.py
Due: mkdocs-config-validation, mkdocs-build-test

CHORE: Add configuration files for MkDocs setup
  config/.editorconfig
  config/.markdownlint-cli2.yaml
  config/.pa11yci.json
  config/.pre-commit-config.yaml
  config/.prettierignore
  config/.prettierrc.json
  config/.yamllint.yml
  config/pyproject.toml
  config/stylelint.config.js
  dependencies/package-lock.json
  dependencies/package.json
  dependencies/requirements.txt
  docs/assets/css/accessibility-enhancements.css
  docs/assets/css/cyberpunk-guerilla.css
  docs/assets/css/cyberpunk-guerrilla.css
  docs/assets/css/extra.css
  docs/assets/css/final-typography-fix.css
  docs/assets/css/giscus-druids.css
  docs/assets/css/giscus.css
  docs/assets/css/hero-banner.css
  docs/assets/css/queer-mandalorian.css
  docs/assets/css/typography-smoothing.css
  docs/website/CSS_AESTHETIC_REFERENCE.md
  docs/website/design/components.md
  docs/website/features/offline-usage-guide.md
  docs/website/features/versioning-guide.md
  docs/website/index.md
  docs/website/quick-reference.md
  docs/website/reference/configuration-reference.md
Due: mkdocs-config-validation, mkdocs-build-test

feat: comprehensive documentation sprint and Diátaxis integration
  ai-discourses/claude-context-lessons.md
  ai-discourses/claude-revolutionary-memory.md
  ai-discourses/documentation-todo.md
  docs/contributing/revolutionary-style-guide.md
  docs/explanation/why-discord-democracy-fails.md
  docs/guides/migration/escaping-google-surveillance.md
  docs/how-to/breaking-discord-chains.md
  docs/how-to/pseudonym-discipline.md
  docs/needs-categorization/2025-07-02-documentation-sprint-summary.md
  docs/reference/git-quick-reference.md
  docs/templates/meeting-minutes-template.md
  docs/templates/proposal-template.md
  docs/templates/security-incident-template.md
  docs/tutorials/your-first-revolutionary-commit.md
Due: mkdocs-config-validation, mkdocs-build-test

feat: add comprehensive AI and revolutionary organizing documentation
  ai-discourses/ai-outline.md
  ai-discourses/claude-context-lessons.md
  ai-discourses/claude-revolutionary-memory.md
  ai-discourses/claude-training-calendar.md
  ai-discourses/documentation-todo.md
Due: none

feat: add GitHub Pages deployment setup and workflow
  .github/workflows/deploy-to-github-pages.yml
  DEPLOYMENT.md
  scripts/__init__.py
  scripts/deploy_to_github_pages.py
Due: none

Path conditions:
  mkdocs-config-validation: any of: ^(mkdocs\.yml|docs/.*\.md)$
  mkdocs-build-test: any of: ^(mkdocs\.yml|docs/.*\.md|overrides/.*\.html)$
  blog-post-validation: any of: ^docs/blog/posts/.*\.md$
